@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

p {
  font-size: 16px;
  color: black;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

li {
  font-size: 16px;
  color: black;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 51px;
}

.header__inner {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: none;
}

.mobile-menu-icon {
  margin-right: 15px;
  margin-top: 20px;
  margin-left: auto;
  background-color: transparent;
  z-index: 50 !important;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu-icon > span {
  background-color: #00000069;
  width: 40px;
  height: 3px;
  display: block;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

.menu-open .mobile-menu-icon > span:nth-child(1) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transform: translateY(13px) rotate(135deg);
          transform: translateY(13px) rotate(135deg);
}

.menu-open .mobile-menu-icon > span:nth-child(2) {
  -webkit-transform: translateX(-20px) scaleX(0);
          transform: translateX(-20px) scaleX(0);
}

.menu-open .mobile-menu-icon > span:nth-child(3) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transform: translateY(-13px) rotate(-135deg);
          transform: translateY(-13px) rotate(-135deg);
}

.mobile-menu {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: rgba(75, 66, 66, 0.5);
}

.mobile-menu__nav > li {
  margin-bottom: 20px;
}

.mobile-menu__nav > li:last-child {
  margin-bottom: 0;
}

.mobile-menu__nav > li > a {
  display: inline-block;
  font-size: 20px;
  color: white;
}

.menu-open .mobile-menu {
  display: block;
}

.main-top {
  width: 100%;
  height: 100vh;
}

.main-top__inner {
  top: 0px;
  left: 0px;
  height: 100%;
  position: relative;
  text-align: center;
}

.main-top__text {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-top__title {
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 5px;
  letter-spacing: 0.1em;
}

.main-top__sub-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  color: #00000069;
}

.introduction {
  width: 100%;
  height: auto;
  background-color: #f4f5f7;
  padding-top: 80px;
  padding-bottom: 50px;
}

.introduction__inner {
  max-width: 1200px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.introduction__title {
  margin-bottom: 35px;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.introduction__title > span {
  font-size: 24px;
}

.introduction__person {
  margin-bottom: 30px;
}

.introduction__educartion {
  margin-bottom: 40px;
}

.introduction__introduce {
  font-size: 14px;
  line-height: 1.8em;
  margin-left: 10px;
  opacity: 0.8;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills__inner {
  max-width: 1200px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.skills__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 80px;
}

.skills__title > span {
  font-size: 36px;
}

.skills__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 50px;
}

.skills__level {
  margin-top: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
  text-transform: capitalize;
}

.service {
  width: 100%;
  height: auto;
  background-color: #f4f5f7;
  padding-top: 80px;
  padding-bottom: 50px;
}

.service__inner {
  max-width: 1200px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.service__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

.service__title > span {
  font-size: 36px;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 55px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 3px 3px 13px 1px black;
          box-shadow: 3px 3px 13px 1px black;
}

.service__text {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.service__img {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  border-radius: 8px;
}

.service__ele {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.service__dec {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.15em;
  margin-bottom: 50px;
  opacity: 0.8;
}

.service__charge {
  text-align: center;
  margin-bottom: 7px;
}

.service__charge p:last-child {
  margin-bottom: 0;
}

.service__price {
  color: red;
  font-weight: 600;
  opacity: 0.8;
}

.service__attention {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.works {
  padding-top: 50px;
}

.works__inner {
  max-width: 1200px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}

.works__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

.works__title > span {
  font-size: 36px;
}

.works__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.works__portfolio:nth-child(1) {
  margin-bottom: 40px;
}

.works__text {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.works__img {
  -webkit-box-shadow: 0 0 5px 0px black;
          box-shadow: 0 0 5px 0px black;
  cursor: pointer;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.works__img:hover {
  -webkit-box-shadow: 0 0 15px 5px black;
          box-shadow: 0 0 15px 5px black;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.works__dec {
  margin-bottom: 10px;
}

.works__dec:nth-child(4) {
  margin-bottom: 0;
}

.works__dec:last-child {
  margin-bottom: 0;
}

.works__left {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.works__left:nth-of-type(4) {
  margin-bottom: 0;
}

.works__left:last-child {
  margin-bottom: 0;
}

.works__right {
  font-size: 14px;
  margin-left: 15px;
}

.contact {
  width: 100%;
  height: auto;
  color: #f2f2f2;
  text-shadow: 2px 0 5px black;
  background-image: url("/images/br-entry3.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.contact__inner {
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  text-align: center;
}

.contact__title {
  letter-spacing: 0.05em;
  font-size: 38px;
  margin-bottom: 45px;
}

.contact__btn {
  margin-bottom: 25px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  text-shadow: 2px 0 5px white;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1c58cc9c;
  -webkit-box-shadow: 3px 4px 0 0 black;
          box-shadow: 3px 4px 0 0 black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(3px, 4px);
          transform: translate(3px, 4px);
  color: #f2f2f2;
  text-shadow: 2px 0 5px black;
}

.contact__footer {
  font-weight: normal;
  font-size: 16px;
}

.footer {
  width: 100%;
  height: 100px;
}

.footer__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright {
  display: block;
  line-height: 1.5em;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  h2 {
    font-size: 34px;
  }
  .header__nav {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
  .header__nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav-element {
    margin-right: 10px;
  }
  .header__nav-element:last-child {
    margin-right: 0;
  }
  .header__nav-element a {
    display: inline-block;
    font-size: 12px;
    line-height: 51px;
    color: #000000b0;
  }
  .mobile-menu-icon {
    display: none;
  }
  .introduction__inner {
    width: 83%;
  }
  .introduction__title {
    font-size: 30px;
  }
  .introduction__title > span {
    font-size: 36px;
    margin-right: 2px;
  }
  .introduction__educartion > p:nth-of-type(2) br {
    display: none;
  }
  .introduction__introduce {
    font-size: 16px;
    line-height: 1.5em;
    margin-left: 30px;
  }
  .skills__inner {
    width: 83%;
  }
  .skills__title > span {
    font-size: 40px;
    margin-right: 2px;
  }
  .skills__items::after {
    content: "";
    display: block;
    width: 28%;
    height: 0;
  }
  .skills__item {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
  .skills__icon {
    height: 150px;
  }
  .service {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .service__inner {
    width: 83%;
  }
  .service__title {
    margin-bottom: 80px;
  }
  .service__title > span {
    font-size: 40px;
    margin-right: 2px;
  }
  .service__item {
    margin-bottom: 80px;
  }
  .service__img {
    height: 350px;
    width: 85%;
  }
  .service__text {
    width: 70%;
  }
  .service__ele {
    margin-bottom: 30px;
  }
  .service__attention {
    font-size: 18px;
  }
  .works__inner {
    width: 83%;
  }
  .works__title {
    margin-bottom: 80px;
  }
  .works__title > span {
    font-size: 40px;
    margin-right: 2px;
  }
  .works__portfolio:nth-child(1) {
    margin-bottom: 60px;
  }
  .works__img {
    margin-bottom: 40px;
  }
  .works__dec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works__left {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    font-size: 18px;
    margin-bottom: 0;
  }
  .works__right {
    margin-left: 0;
    margin-bottom: 0;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    font-size: 16px;
  }
  .contact {
    height: 450px;
  }
  .contact__inner {
    padding-top: 150px;
  }
  .contact__title {
    font-size: 45px;
    margin-bottom: 80px;
  }
  .contact__btn {
    width: 70%;
    margin-bottom: 30px;
    font-size: 24px;
  }
  .contact__footer {
    font-size: 22px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  h1 {
    font-size: 32px;
  }
  .header__nav {
    margin-right: 30px;
  }
  .header__nav-element {
    margin-right: 15px;
  }
  .header__nav-element:last-child {
    margin-right: 0;
  }
  .header__nav-element a {
    display: inline-block;
    font-size: 12px;
    line-height: 51px;
    color: #000000b0;
  }
  .main-top__title {
    padding-bottom: 10px;
  }
  .main-top__sub-title {
    font-size: 22px;
  }
  .introduction__inner {
    width: 90%;
  }
  .introduction__title {
    margin-bottom: 80px;
  }
  .introduction__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .introduction__introduce {
    margin-left: 0;
    font-size: 16px;
    line-height: 1.8em;
  }
  .skills__inner {
    width: 90%;
  }
  .service__inner {
    width: 85%;
  }
  .service__img {
    height: auto;
    margin-top: 35px;
  }
  .service__ele {
    margin-bottom: 40px;
  }
  .service__dec {
    font-size: 20px;
  }
  .service__charge p {
    font-size: 22px;
  }
  .service__price {
    font-size: 24px;
  }
  .service__guideline {
    margin-bottom: 10px;
  }
  .service__attention {
    font-size: 18px;
  }
  .contact__btn {
    width: 60%;
  }
  .works {
    padding-bottom: 80px;
  }
  .works__inner {
    width: 85%;
    padding-bottom: 0;
  }
  .works__portfolio:nth-child(1) {
    margin-bottom: 80px;
  }
  .works__right {
    font-size: 24px;
  }
  .works__left {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  h2 {
    font-size: 36px;
  }
  .header__nav {
    margin-right: 40px;
  }
  .header__nav-element {
    margin-right: 20px;
  }
  .header__nav-element:last-child {
    margin-right: 0;
  }
  .header__nav-element a {
    font-size: 14px;
  }
  .introduction {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .introduction__inner {
    width: 85%;
  }
  .introduction__title {
    margin-bottom: 80px;
    letter-spacing: 0.2em;
    font-size: 36px;
  }
  .introduction__title > span {
    font-size: 45px;
  }
  .introduction__introduce {
    font-size: 20px;
    line-height: 1.5em;
  }
  .skills {
    padding-top: 80px;
  }
  .skills__inner {
    width: 88%;
  }
  .skills__title {
    letter-spacing: 0.1em;
  }
  .skills__title > span {
    font-size: 45px;
  }
  .skills__item {
    margin-bottom: 80px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .skills__level {
    font-size: 24px;
  }
  .service {
    padding-top: 80px;
  }
  .service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__title {
    letter-spacing: 0.1em;
  }
  .service__title > span {
    font-size: 45px;
  }
  .service__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .service__text {
    width: 90%;
  }
  .service__dec {
    font-size: 16px;
  }
  .service__charge p {
    font-size: 18px;
  }
  .service__price {
    font-size: 20px;
  }
  .service__attention {
    font-size: 24px;
  }
  .works {
    padding-top: 80px;
  }
  .works__title {
    letter-spacing: 0.1em;
  }
  .works__title > span {
    font-size: 45px;
  }
  .works__portfolios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works__portfolio {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .works__portfolio:nth-child(1) {
    margin-bottom: 0;
  }
  .works__text {
    width: 97%;
  }
  .works__img {
    height: 250px;
  }
  .works__right {
    font-size: 20px;
  }
  .works__left {
    font-size: 20px;
  }
  .contact {
    height: 500px;
  }
  .contact__btn {
    width: 35%;
    margin-bottom: 50px;
  }
  .footer__copyright {
    font-size: 15px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media point {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */