/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

h2 {
  font-size: 36px;
}

.header {
  &__nav {
    margin-right: 40px;
  }

  &__nav-element {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-element a {
    font-size: 14px;
  }
}

.introduction {
  padding-top: 180px;
  padding-bottom: 180px;
  &__inner {
    width: 85%;
  }

  &__title {
    margin-bottom: 80px;
    letter-spacing: 0.2em;
    font-size: 36px;

    > span {
      font-size: 45px;
    }
  }

  &__introduce {
    font-size: 20px;
    line-height: 1.5em;
  }
}

.skills {
  padding-top: 80px;

  &__inner {
    width: 88%;
  }

  &__title {
    letter-spacing: 0.1em;
    > span {
      font-size: 45px;
    }
  }

  &__item {
    margin-bottom: 80px;
    flex-basis: 30%;
  }

  &__level {
    font-size: 24px;
  }
}

.service {
  padding-top: 80px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    letter-spacing: 0.1em;
    > span {
      font-size: 45px;
    }
  }

  &__item {
    flex-basis: 30%;
  }

  &__text {
    width: 90%;
  }

  &__dec {
    font-size: 16px;
  }

  &__charge p {
    font-size: 18px;
  }

  &__price {
    font-size: 20px;
  }

  &__attention {
    font-size: 24px;
  }
}

.works {
  padding-top: 80px;
  &__title {
    letter-spacing: 0.1em;
    > span {
      font-size: 45px;
    }
  }
  &__portfolios {
    display: flex;
    justify-content: space-between;
  }

  &__portfolio {
    flex-basis: 48%;

    &:nth-child(1) {
      margin-bottom: 0;
    }
  }

  &__text {
    width: 97%;
  }

  &__img {
    height: 250px;
  }

  &__right {
    font-size: 20px;
  }
  &__left {
    font-size: 20px;
  }
}

.contact {
  height: 500px;

  &__btn {
    width: 35%;
    margin-bottom: 50px;
  }
}

.footer {
  &__copyright {
    font-size: 15px;
  }
}
